[linux_hosts]
{% for host in ssh_ip_list %}
{{ host }}
{% endfor %}

[windows_hosts]
{% for host in winrm_ip_list %}
{{ host }}
{% endfor %}

[debians:children]
linux_hosts

[wins:children]
windows_hosts
